<!DOCTYPE html>
<html>
    <head>
        <title>Sdy Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Some Die Young Blog</a></h1>
        </header>

        <article>
            <time>published: 10.08.2022, 12:48</time>
            <h2><a href="">Hearthstone</a></h2>
            <p>Es un juego de cartas coleccionables en línea creado por la empresa Blizzard Entertainment. Está centrado en el universo de Warcraft, y es de descarga gratuita, aunque con compras opcionales para acelerar el ritmo de colección de cartas y acceso a contenidos extra.</p>
        </article>

        <article>
            <time>published: 10.08.2022, 12:48</time>
            <h2><a href="">Magic The Gathering</a></h2>
            <p>Es un juego de cartas coleccionables diseñado en 1993 por Richard Garfield, profesor de matemáticas, y comercializado por la empresa Wizards of the Coast. Magic es el primer ejemplo de juego de cartas coleccionables moderno, con más de seis millones de jugadores en cincuenta y dos países diferentes.</p>
        </article>
    </body>
</html>